<div class="column">
<h2>Things to Do</h2>
    <% @pending_goals.each do |goal| %>
      <div class="goal">
        <%= link_to goal.title, goal %> 
        <%= link_to "Mark Complete", mark_completed_path(goal) %>
      </div>
    <% end %>
</div>

<div class="column">
<h2>Things I've Done</h2>
    <% @completed_goals.each do |goal| %>
      <div class="goal completed">
        <%= goal.title %>
        <%= goal.description %>
        <%= link_to 'Show', goal %>
        <%= link_to 'Edit', edit_goal_path(goal) %>
        <%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

  </div>
<%= link_to 'New Goal', new_goal_path %>
