<!DOCTYPE html>
<html>
<head>
  <title>Bucketlister</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="info-bar"> 
    <div class="side-pads">
      <div id="title-box">
        <h2>BUCKETLISTr</h2>
        <div class="circle" style="background-image: url('<%= profile_pic_url(200, 200) %>');"></div>
      </div><!-- end #title box -->
      <div id="stats-box">
        <% if current_user %>
          <strong><%= current_user.name %></strong>
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <a href="/auth/facebook" id="fb_login_link">Login with Facebook</a>
        <% end %>
      </div><!-- end #stats-box -->
      <div id="goal-stats">GOALSTATS</div>
    </div><!-- end side-pads -->
  </div>
   
  <div id="container">
    <%= yield %>
  </div>

</body>
</html>
